<div class=moveurass>
<h2>Available Contracts</h2>

<% @contracts.each do |contract| %>
    <%= link_to contract.monster.name, contract_path(contract.id) %> - <%= contract.location.name %><br>
<% end %>

</div>