<h2><%= @user.name %></h2>

<% if @user.witcher? %> 
  <h3><%= @user.school.name %></h3>
  Claimed contracts: <br><br>
<% else %>
  Posted contracts: <br><br>
<% end %> 

<% if session[:user_id] == @user.id %>
  <%= render partial: "contracts" %>
<% end %>

