<h2><%= @user.name %></h2>

  <% if @user.witcher? %>
    <h3><%= @user.school.name %></h3>
  <% end %>

  <% if @user.witcher? && @user = current_user %>
    <h4>Claimed contracts:</h4> 
  <% elsif !@user.witcher? %>
    <h4>Posted contracts:</h4> 
  <% end %>
  <%= render partial: "contracts" %>