<div class=moveurass>
  <% @witchers.each do |witcher| %>
    <%= link_to witcher.name, user_path(witcher.id) %><br>
    <%= witcher.claimed_contracts.count %> contracts claimed<br>
    <br>
  <% end %>
</div>